@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: #f9f9f9;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: #00a9dd;
}

a:hover {
  color: #00a9dd;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #010409;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
}

.logo a {
  color: #f0f0f0;
}

.links {
  display: flex;
  gap: 1rem;
}

.links a {
  color: #f0f0f0;
  font-weight: 600;
  transition: all 0.3s;
}

.links a:hover {
  color: #00a9dd;
}

.btn1 {
  background-color: #002b39;
  color: #f0f0f0;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.btn1:hover {
  background-color: #00475e;
  scale: 1.05;
}
